@{
    ViewBag.Title = "Nhập thông tin người dùng";
}

<h2>Nhập thông tin của bạn</h2>

<form method="post">
    <label>Họ và tên:</label><br />
    <input type="text" name="ten" required /><br /><br />

    <label>Năm sinh:</label><br />
    <input type="number" name="namSinh"  required /><br /><br />
     
 <label>Tuổi:</label>
    <input type="number" name="age" required /><br />

    <button type="submit">Gửi</button>
</form>

@if (ViewBag.LoiChao != null)
{
    <h3>@ViewBag.LoiChao</h3>
}
