@model DemoMVC061.Models.Student

<h2>Nhập thông tin sinh viên</h2>

<form asp-action="Create" asp-controller="Student" method="post">
    <label>Mã SV:</label>
    <input asp-for="Id" /><br />

    <label>Họ tên:</label>
    <input asp-for="Name" /><br />

    <label>Tuổi:</label>
    <input asp-for="Age" /><br />

    <label>Ngành học:</label>
    <input asp-for="Major" /><br />

    <button type="submit">Gửi</button>
</form>
