@{
    ViewData["Title"] = "Demo Buổi 3";
}

<h2>@ViewBag.Message</h2>
<ul>
    <li><a href="/Demo/GoToGoogle">Đi tới Google (RedirectResult)</a></li>
    <li><a href="/Demo/GoHome">Về trang Home (RedirectToActionResult)</a></li>
    <li><a href="/Demo/GetJson">Xem dữ liệu JSON (JsonResult)</a></li>
     <li><a href="/Demo/FileExample">FileResult (tải file PDF)</a></li>
    <li><a href="/Demo/ShowError">Gây lỗi 404 (StatusCodeResult)</a></li>
</ul>